body{
    background-color: #272727;
    color: white;
}
.keypress{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
ul{
    display: table-column;
    justify-content: center;
}
li{
    margin-left: 50px;
    font-size: larger;
}
